[submodule ".registry"]
	path = .registry
	url = https://github.com/schochastics/schochastics.r-universe.dev
	branch = HEAD
[submodule "PSAWR"]
	path = PSAWR
	url = https://github.com/schochastics/PSAWR
[submodule "Rokemon"]
	path = Rokemon
	url = https://github.com/schochastics/rokemon
[submodule "Rtumblr"]
	path = Rtumblr
	url = https://github.com/schochastics/Rtumblr
[submodule "adaR"]
	path = adaR
	url = https://github.com/schochastics/adaR
[submodule "domainator"]
	path = domainator
	url = https://github.com/schochastics/domainator
[submodule "edgebundle"]
	path = edgebundle
	url = https://github.com/schochastics/edgebundle
[submodule "graphlayouts"]
	path = graphlayouts
	url = https://github.com/schochastics/graphlayouts
[submodule "levelnet"]
	path = levelnet
	url = https://github.com/schochastics/levelnet
[submodule "netUtils"]
	path = netUtils
	url = https://github.com/schochastics/netUtils
[submodule "netrankr"]
	path = netrankr
	url = https://github.com/schochastics/netrankr
[submodule "networkdata"]
	path = networkdata
	url = https://github.com/schochastics/networkdata
[submodule "roughnet"]
	path = roughnet
	url = https://github.com/schochastics/roughnet
[submodule "roughsf"]
	path = roughsf
	url = https://github.com/schochastics/roughsf
[submodule "rtoot"]
	path = rtoot
	url = https://github.com/schochastics/rtoot
[submodule "signnet"]
	path = signnet
	url = https://github.com/schochastics/signnet
[submodule "snahelper"]
	path = snahelper
	url = https://github.com/schochastics/snahelper
[submodule "stabilityAI"]
	path = stabilityAI
	url = https://github.com/schochastics/stabilityAI
[submodule "webbotparseR"]
	path = webbotparseR
	url = https://github.com/schochastics/webbotparseR
[submodule "webtrackR"]
	path = webtrackR
	url = https://github.com/schochastics/webtrackR
